body, :root{
    font-family: "Product Sans", "Google Sans", "Roboto", Arial, sans-serif;
    width: 100%;
    
    min-height: 100vh;
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

body {
    background: linear-gradient(180deg, #F3CFCE 20%, #97051D 100%); 
}

:root{
    --primary-color: hsl(2, 47%, 59%);
    --white-bg-color: hsl(220, 60%, 97%);
    --text-white-color: hsl(0, 4%, 96%);
    --text-white-color-light: hsl(0, 4%, 100%);
    
    /* Message text color */
    --secondary-color: hsl(2, 47%, 59%);

    --black-text-color: hsl(0, 3%, 6%);

    /* Button Text color */
    --tertiary-color: hsl(2, 70%, 70%); 
    --gradient-linear-bg: linear-gradient(90deg,rgba(220, 100, 96, 1) 0%, rgba(233, 181, 180, 1) 100%);
}


