* {
    margin: 0;
    padding: 0;
    color: var(--text-white-color-light);
}

body {
    min-width: 300px;
}

#root {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
