.home-curriculum-page-container {
    padding: 4rem 2rem 5rem 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-curriculum-page-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch; /* ensure children stretch to same height */
    flex-wrap: wrap;

    width: 100%;
    gap: 3rem;
}