.home-schedule-page-container {
    padding: 100px 2rem 5rem 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-schedule-page-content {
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;

    width: 100%;
    gap: 3rem;
}