

:root{
    --primary-color: hsl(2, 47%, 59%);
    --white-bg-color: hsl(220, 60%, 97%);
    --text-white-color: hsl(0, 4%, 96%);

    /* Message text color */
    --secondary-color: hsl(2, 47%, 59%);

    /* Button Text color */
    --tertiary-color: hsl(2, 70%, 70%); 
    --gradient-linear-bg: linear-gradient(90deg,rgba(220, 100, 96, 1) 0%, rgba(233, 181, 180, 1) 100%);
}

.message-page{
    margin: 5rem 1rem 2rem 1rem;
    background: var(--gradient-linear-bg);
    height: 85vh;
    padding: 20px 1rem 3rem 1rem;
    border-radius: 15px;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-white-color);
}

.sub-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-white-color);
    margin-top: 0.5rem;
}


.sub-header-options{
    display: flex;
    gap: 2rem;
}

.compose-button{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--white-bg-color);
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--tertiary-color);
    cursor: pointer;
}


.inbox-select{
    background-color: var(--white-bg-color);
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--tertiary-color);
    cursor: pointer;
}

.inbox-select option{
    color: var(--tertiary-color);
    background-color: var(--white-bg-color);
}

.message-list{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    border-radius: 10px;
    overflow-y: auto;

}

.message-item{
    color: var(--secondary-color);
    display: flex;
    gap: 1rem;
    padding: 10px;
    background-color: var(--white-bg-color);
    margin-bottom: 0.5rem;
    border-radius: 5px;
    align-items: center;
    font-size: 0.6rem;
}

.message-item * {
    color: inherit;
}

.message-item .message-time {
    margin-left: auto;
    white-space: nowrap; 
}

.message-item .selectBtn{
    cursor: pointer;
    width: 16px;
    height: 16px;
    color: var(--secondary-color);
}

.message-item:hover{
    opacity: 0.9;
    cursor: pointer;
}